<a href="https://colab.research.google.com/github/Andrea-Castilloo/OOP-58001/blob/main/Fundamentals%20Of%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Variables

In [2]:
x = float(1)
a, b = 0, -1
a, b, c = "Sarah", "Echo", "Syjay"

print('This a sample')
print(a)
print(c)

This a sample
Sarah
Syjay

Casting

In [3]:
print(x)

1.0

Type() Function

In [4]:
y = "Nicole"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

In [5]:
h = "John"
v = 4
v = 5

print(h)
print(v)
print(v+1)

John
5
6

Multiple Variables

In [7]:
x,y,z="four", "five", "six"
print(x)
print(y)
print(z)
print(x,y,z)

four
five
six
four five six

One Value to Multiple Variables

In [8]:
x = y = z ="Murphy"
print(x,y,z)

Murphy Murphy Murphy

Output Variables

In [9]:
x= "fun"

print("Python is " + x)

x = "Hi"
y = "Bil Ku"

print(x+""+" "+y)

Python is fun
Hi Bil Ku

Arithmetic Operations

In [10]:
a = 1
b = 2
c = 6

print(a+b)
print(a-b)
print(a*c)
print(int(c/b))
print(3/b)
print(3%b)
print(3//b)
print(3**6)

3
-1
6
3
1.5
1
1
729

Assignment Operators

In [15]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(1>>l)

5
0

Boolean Operators

In [16]:
k=2
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

0
8

Relational Operators

In [17]:
print(v>k) #v=4, k=5

print(v==k)

True
False

Logical Operators

In [18]:
print(v<k and k==k)
print(v<k or k==v)
print(not (v<k or k==v))

False
False
True

Identity Operators

In [19]:
print(v is k)
print(v is not k)

False
True